# Python
__pycache__
*.pyc
*.egg-info
/dist
/.tox
/.pytest_cache
python_out

# node
package-lock.json

# Coverage
/.nyc_output
/coverage
/.coverage
/coverage.lcov

# Tarballs
*.tgz

# babel dist
/lib

# Numerous always-ignore extensions
*.bak
*.patch
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.lock
*.rdb
*.db
nohup.out
.nyc_output
coverage.lcov
package-lock.json

# OS or Editor folders
.DS_Store
._*
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
thumbs.db

# Folders to ignore
.hg
.svn
.CVS
.idea
/node_modules
old/
*-old/
*-notrack/
no-track/
no_track
*.no_track.*
build/
combo/
reference/
jscoverage_lib/
temp/
tmp/

# codecov.io
coverage/
